.activity-info-detail {
	display flex
	justify-content center
	align-items center
	flex-direction column
}

.activity-info-detail-layout {
	display flex
	flex-direction column
	align-items center
	justify-content center
	margin-top 50px
	width 75%
}

.activity-info-detail-title {
	font-size 35px
	font-weight bold
	display flex
	justify-content flex-start
	width 100%
	margin-bottom 30px
}

.activity-info-detail-other-info {
	display flex
	justify-content space-between
	align-items flex-start
	width 100%
}

.activity-info-detail-img {
	width 750px
	height 500px
	object-fit cover
}

.activity-info-tb {
	width 700px
	height 500px
	margin-left 40px
	display flex
	justify-content space-between
	flex-direction column
}

.activity-info-tb-items {
	margin-top 20px
}

.activity-info-tr {
	display block
	margin-bottom 20px
}

.activity-info-td {
	font-size 16px
	min-width 100px
}

.activity-info-text {
	font-size 16px
	width 100%
	height 100%
	line-height 24px
}

.activity-info-content {
	display -webkit-box
	-webkit-box-orient vertical
	-webkit-line-clamp 3
	overflow hidden
}

.activity-pin-row {
	display flex
	flex-direction row
	margin-top 50px
}

.activity-pin {
	font-size 14px
	text-align center
	background-color #FAECBB
	padding 4px 16px 4px 16px
	border-radius 30px
	margin-right 10px
}

.activity-info-intro {
	width 75%
	display flex
	flex-direction column
	align-items flex-start
	margin-top 60px
}

.activity-info-intro-title {
	font-size 28px
	font-weight bold
	margin-bottom 30px
}

.activity-info-intro-des {
	font-size 18px
	line-height 40px
}

@media only screen and (max-width: 1700px) {
	.activity-info-detail-img {
		width 550px
		height 400px
		object-fit cover
	}
	.activity-info-intro {
		margin-top -40px
	}
}