.arrangefield-layout {	
	height 85vh
	width 100%
	margin-top 20px
	display flex
	justify-content center
	align-items center
}

.arrangefield-bd {
	object-fit cover
	height 100%
	width 100%
}

.arrangefield-bar-pos {
	position absolute
	display flex
	justify-content space-between
	align-items center
	flex-direction column
	margin-top 25%
}

.arrangefield-create {
	font-size 22px
	background-color white
	opacity 0.85
	padding 5px 15px 5px 15px
	border-radius 5px
}

.arrangefield-create:hover {
	background-color #b5b5b5
	opacity 0.8
}

.content-arrange-layout {
	display flex
	align-items center
	flex-direction column
    margin 40px 0 0 0
}

.content-arrange-title {
	font-size 28px
	margin 40px 0 40px 0
}

.content-arrange-sutitle-layout {
	display flex
	flex-direction column
	width 70%
}
