.arrangefield-layout {	
	height 85vh
	width 100%
	margin-top 20px
	display flex
	justify-content center
	align-items center
}

.arrangefield-bd {
	object-fit cover
	height 100%
	width 100%
}

.arrangefield-bar-pos {
	position absolute
	display flex
	justify-content space-between
	align-items center
	flex-direction column
	margin-top 25%
}

.arrangefield-create {
	font-size 22px
	background-color white
	opacity 0.85
	padding 5px 15px 5px 15px
	border-radius 5px
}

.arrangefield-create:hover {
	background-color #b5b5b5
	opacity 0.8
}

.content-arrange-layout {
	display flex
	align-items center
	flex-direction column
    margin 40px 0 0 0
}

.content-arrange-title {
	font-size 28px
	margin 40px 0 40px 0
}

.content-arrange-sutitle-layout {
	display flex
	flex-direction column
	width 70%
}

.add-trip-subtitle {
	width 100px	
	height 60px
	margin-right 20px
	align-items center
}

.add-trip-col {
	display flex
	flex-direction row
}

.add-trip-col-path {
	display flex
	justify-content space-between
	width 280px
	margin-left -22px
}

.add-trip-col-path-dash {
	width 50px
	height 40px
	display flex
	justify-content center
	align-items center
}

.add-trip-member {
	width 45px
	height 45px
	border-radius 100%
	border 1px #C4C4C4 dashed
	margin-right 10px
	display flex
	justify-content center
	align-items center
	cursor pointer 
	margin 15px 0
}

.add-trip-member:hover {
	border 1px gray dashed
}

.add-trip-btn {
	background #e5e5e5
	width 100%
	height 40px
	margin-left 10px
	margin-top 40px
	border-radius 5px
	outline none
	font-size 18px
}

.add-trip-btn:hover {
	background #FAECBB
}