.collection-layout {
	display flex
	justify-content center
	flex-direction column
	align-items center
	width 100%
}

.collection-title {
	font-size 35px
	margin 50px 0 50px 0
}

.collection-content {
  width 80%
  display flex
  justify-content flex-start
}

.collection-tab-content {
	display grid
	grid-template-columns repeat(4, 1fr)
}