.header {
	display flex
	justify-content center
	position fixed
	background-color white	
	width 100%
	top 0
	z-index 1
	box-shadow 0 2px 3px 0 rgba(0, 0, 0, 0.2)
}

.header-layout {
	padding 10px 0 10px 0
	display flex
	justify-content space-between
	align-items center
	width 90%
	margin-right 80px
}

.header-login-btn {
	color white
	background-color black
	border-radius 30px
	padding 12px 14px
	border 1px black solid
}

.header-login-btn:hover {
	color black
	background-color white
}

.header-login-title {
	font-size 25px
	margin-bottom 50px
}

.header-login-btn-option {
	display flex
	align-items center
	border 1px black solid
	border-radius 30px
	padding 10px
	width 220px
	margin-bottom 20px
}

.header-login-btn-option:hover {
	background-color #f4f4f4
}