.hotspot-layout {
	display flex
	justify-content center
	flex-direction column
	align-items center
	width 100%
}

.hotspot-title {
	font-size 35px
	margin 50px 0 50px 0
}

.main-layout {
	display flex
	justify-content center
	flex-direction column
	align-items center
	width 100%
	margin-bottom 50px
}

.main-tab-block {
	margin 50px 0 50px 0
}

.main-tab-content {
	display grid
	grid-template-columns repeat(4, 1fr)
}

.main-detail-link {
	text-decoration none
	color black
}
