.signIn-block-1 {
  display flex
  justify-content space-between
  align-items center
  position relative
  margin-top 180px
}

.signIn-white-bg {
  width 65%
  height 75vh
  background-repeat repeat
  background-image url("../img/bg-white.jpg")
}

.signIn-bg-1-layout {
  display flex
  justify-content space-between
  align-items center
  position absolute
  width 100%
  height 75vh
}

.signIn-bg-1-slogan {
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 60%
  height 70vh
}

.signIn-bg-1-slogan-title {
  font-size 55px
  font-weight bold
}

.signIn-bg-1-slogan-subtitle {
  font-size 20px
  margin-top 30px
}

.signIn-bg-1-img {
  width 50%
  height 60vh
  object-fit cover
  margin-right 60px
}

.signIn-block-2 {
  display flex
  justify-content space-between
  align-items center
  margin-top 50px
  padding 150px 120px
}

.signIn-bg-2-img {
  width 40%
  height 50vh
  object-fit cover
}

.signIn-green-bg {
  width 50%
  height 30vh
  background-repeat repeat
  background-image url("../img/bg-lightgreen.jpg")
  display flex
  align-items center
  justify-content center
  flex-direction column
}

.signIn-bg-2-slogan-title {
  font-size 30px
  font-weight bold
  color white
}

.signIn-bg-2-slogan-subtitle {
  font-size 18px
  margin-top 30px
  color white
}

.signIn-service {
  margin-top 50px
  background-color #FAF1ED
  padding 40px
  display flex
  align-items center
  flex-direction column
}

.signIn-service-title {
  font-size 40px
  font-weight bold
  margin-bottom 60px
}

.signIn-service-func-block {
  background-color white
  border-radius 20px
  padding 40px 60px
  display flex
  align-items center
  flex-direction row
  width 55%
  margin-bottom 50px
}

.signIn-service-img {
  object-fit cover
  width 180px
  height 180px
  margin-right 80px
}

.signIn-service-subtitle {
  font-family Architects Daughter
  font-size 50px
  font-weight bolder
  color #FFCF54
  margin-bottom 20px
}

.signIn-service-content {
  font-size 18px
}
