.user-bg {
	display flex
	justify-content center
	background-color #F1F1F1
	height 100vh
}

.user-account-block {
	display flex
	justify-content space-between
	width 100%
	margin-bottom 10px
}

.user-info {
	background-color white
	width 70%
	height 135px
	margin-top 60px
	padding 35px
}

.user-info-account {
	display flex
	justify-content space-between
	width 35%
}

.user-info-detail {
	display flex
	justify-content space-between
	width 60%
	height 50px
}

.user-info-txt {
	font-size 18px
	font-weight bold
}

.user-info-number {
	text-align right
	font-weight bold
	font-size 18px
}

.user-edit-file-btn {
	border 1px #C4C4C4 solid
	height 40px
	padding 5px 10px
	border-radius 5px
	font-size 15px
	cursor pointer
}

.user-edit-file-btn:hover {
	background-color #f4f4f4
}

.user-intro-block {
	width 100%
	margin-left -55px
	display flex
	flex-direction row
}

.user-intro {
	background-color white
	width 25%
	height 220px
	padding 20px
	margin-right 40px
}

.user-intro-title {
	font-size 18px
	margin-bottom 15px
}

.user-intro-content {
	display flex
	flex-direction row
	text-align center
	margin-bottom 10px
}

.user-intro-content-txt {
	color #333
	margin-left 5px
	font-size 14px
}

.user-self-intro {
	color #333
	margin-top 15px
}

.user-dynamic-news {
	background-color white
	width 70%
	height 100px
	padding 20px
}

.user-input {
	display flex
	flex-direction row
	margin-bottom 5px
}

.user-input-subtitle {
	width 120px	
	height 60px
	margin-right 20px
	align-items center
}

.user-confirm-pos {
	margin-top 21px
	margin-right 40px
	display flex
	flex-direction row
	justify-content flex-end
}

.user-save-btn {
	border 1px #C4C4C4 solid
	padding 5px 10px
	border-radius 5px
}

.user-save-btn:hover {
	background-color #f4f4f4
}

.user-avatar {
	position relative
	width 100px
	height 100px
	border-radius 100%	
}

.user-avatar::before {
	content " "
	width 100px
	height 100px
	border-radius 100%
	position absolute
	background-color rgba(0, 0, 0, 0.3)
}

.user-avatar-update {
	position absolute
	display flex
	align-items center
	justify-content center
	flex-direction column
	width 100%
	height 100%
	color white
	font-size 12px
}