.content-bg {
	background-image url(https://www.greentour.com.tw/images/bg-white.jpg)
}

.content-layout {
	display flex
	flex-direction column
	align-items center
}

.content-title {
	font-weight bold
	font-size 30px
	margin-top 100px
	margin-bottom 80px
	font-weight normal
	font-family "Noto Serif","Noto Serif TC",serif
}

.content-must-like {
	width 90%
	display flex
	justify-content space-around
}

.content-item {
	width 90%
	display flex
	justify-content center
}

.content-postwall-layout {
	display: flex
	align-items center
	flex-direction column
}

.content-postwall-title {
	font-family "cwTeXFangSong", serif
	color white
	font-size 30px
}

.content-postwall-des-layout {
	display flex
	justify-content space-between
	margin-top 30px
	width: 140%
}

.content-postwall-des {
	font-family "cwTeXFangSong", serif
	color white
	font-size 20px
}

.content-hot-spot {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 100px;
}

.content-hot-spot-title {
	font-family: "cwTeXFangSong", serif;
	font-size: 28px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
}

@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
