.searchfield-layout {
	display flex
	align-items center
	justify-content center	
	height 700px
	width 100%
}

.searchfield-img {
	object-fit cover
	height 100%
	width 100%
}

.searchfield-bar-pos { 
	position absolute
	margin-top 18%
}