.arrange-travel-title {
	font-size 30px
	font-family: "Noto Serif", "Noto Serif TC", serif
	width 100%
	display flex
	justify-content center
	margin 40px 0 40px 0
}

.arrange-travel-content {
	display flex
	flex-direction row
}

@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
