.arrange-travel-hr {
	border-top 0.5px #c4c4c4 solid
	margin-top 40px
	margin-bottom 40px
	width 100%
}

.arrange-travel-layout {
	display flex
	align-items center
	justify-content center	
	height 600px
	width 100%
}

.arrange-travel-bg {
	object-fit cover
	height 100%
	width 100%
}

.arrange-travel-create { 
	position absolute
	margin-top 380px
}

.arrange-travel-create-btn {
	background-color white
	opacity 0.8	
	border-radius 3px
	font-size 18px
}

.arrange-travel-create-btn:hover {
	background-color white
}