.post-info-layout {
	display flex
	align-items center
	flex-direction column
}

.post-info-header {
	display flex
	justify-content space-between
}

.post-info-spot-name {
	font-weight bold
	font-size 35px
}

.post-info-header-icon {
	display flex
	justify-content space-between
	width 5%
}

.post-info-spot-des {
	display flex
	flex-direction row
	margin-top 5px
	margin-bottom 15px
}

.post-info-spot-des-content {
	display flex
	flex-direction row	
	align-items center
	margin-right 20px
}

.post-info-detail {
	display flex
	flex-direction row
	align-items center
}

.post-info-tb {
	margin-left 40px
	display flex 
	align-items center
}

.post-info-tr {
	display block
	margin-bottom 20px
}

.post-info-td {
	font-size 16px
	min-width 100px
}

.post-info-text {
	font-size 16px
	width 100%
	height 100%
}

@media screen and (max-width: 1800px) {
	.post-info-td {
		font-size 14px
	}
	.post-info-text {
		font-size 14px
	}
	.post-info-tr {
		margin-bottom 15px
	}
}

@media screen and (max-width: 1400px) {
	.post-info-header-icon {
		width 10%
	}
	.post-info-img-rwd {
		width 100%
	}
	.post-info-detail {
		flex-direction column
	}
	.post-info-tb {
		margin-left 0px
	}
	.post-info-td {
		font-size 16px
	}
	.post-info-text {
		font-size 16px
	}
}
