.post-info-layout {
	display flex
	align-items center
	flex-direction column
}

.post-info-header {
	display flex
	justify-content space-between
}

.post-info-spot-name {
	font-weight bold
	font-size 30px
}

.post-info-header-icon {
	display flex
	justify-content space-between
	width 80px
}

.post-info-spot-des {
	display flex
	flex-direction row
	margin-top 8px
	margin-bottom 15px
}

.post-info-spot-des-content {
	display flex
	flex-direction row	
	align-items center
	margin-right 20px
}

.post-info-detail {
	display flex
	align-items flex-start
}

.post-info-detail-pic {
	width 650px
	height 450px
	object-fit cover
}

.post-info-tb {
	width 600px
	margin-left 40px
}

.post-info-tr {
	display block
	margin-bottom 20px
}

.post-info-td {
	font-size 16px
	min-width 100px
}

.post-info-text {
	font-size 16px
	width 100%
	height 100%
}