.spot-comment {
	display flex
	justify-content space-between
	width 85%
}

.spot-comment-hr {
	border-top 0.5px #c4c4c4 solid
	margin-top 25px
	margin-bottom 25px
	width 100%
}

.spot-comment-border {
	border 1px #c4c4c4 solid
	width 200px
	height 100px
	border-radius 5px
	display flex
	flex-direction column
	align-items flex-start
	padding 5px
	color gray
}

.spot-comment-add {
	font-size 18px
	margin-bottom 10px
}