.main-layout {
	display flex
	align-items center
	flex-direction column
}

.main-tab-content {
	display grid
	grid-template-columns repeat(4, 1fr)
}

.main-detail-link {
	text-decoration none
	color black
}

.main-tab-limit-text {
	font-weight bold
	margin-top 10px
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
	width 200px
	text-align center	
}